<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.CartMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.Cart" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="checked" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    </constructor>
  </resultMap>

  <sql id="BaseColumnList">
    id, user_id, product_id, quantity, checked, create_time, update_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.Cart" >
    insert into mmall_cart (id, user_id, product_id, 
      quantity, checked, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{checked,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.Cart" >
    update mmall_cart
    set user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      checked = #{checked,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, product_id, quantity, checked, create_time, update_time
    from mmall_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, product_id, quantity, checked, create_time, update_time
    from mmall_cart
  </select>

  <select id="selectByUserIdProductId" resultType="com.mmall.pojo.Cart" parameterType="map">
    select
    <include refid="BaseColumnList"></include>
    from mmall_cart
    where user_id = #{userId} and product_id = #{productId}
  </select>

  <select id="selectByUserId" resultType="com.mmall.pojo.Cart" parameterType="int">
    select
    <include refid="BaseColumnList"></include>
    from mmall_cart
    where user_id = #{userId}
  </select>

  <update id="updateByByPrimaryKeySelective" parameterType="com.mmall.pojo.Cart">
    update mmall_cart
    <set>
      <if test="userId != null  and userId != ''">
        user_id = #{userId},
      </if>
      <if test="productId != null and productId != ''">
        product_id = #{productId},
      </if>
      <if test="quantity != null and quantity != ''">
        quantity = #{quantity},
      </if>
      <if test="checked != null and checked != ''">
        checked = #{checked},
      </if>
      update_time = now()
    </set>
    where id = #{id}
  </update>

  <select id="selectCartProductCheckedStatusByUserId" resultType="int" parameterType="int">
    select
    count(1)
    from mmall_cart
    where checked = 0 and user_id = #{userId}
  </select>

  <delete id="deleteProducts" parameterType="map">
    delete from mmall_cart
    where user_id = #{userId}
    and product_id in
    <if test="productIdList != null">
      <foreach collection="productIdList" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </delete>

  <update id="checkedOrUnchecked" parameterType="map">
    update mmall_cart
    set
    checked = #{checked},
    update_time = now()
    <where>
      <if test="productId != null">
        product_id = #{productId}
      </if>
      and user_id = #{userId}
    </where>
  </update>

  <select id="selectCartProductCount" resultType="int" parameterType="int">
    select
    NULLIF (sum(quantity), 0) as count
    from mmall_cart
    where user_id = #{userId}
  </select>
</mapper>