<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mmall.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.mmall.pojo.Product" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="subtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="main_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sub_images" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    </constructor>
  </resultMap>

  <resultMap id="base_result_map" type="com.mmall.pojo.Product">
    <id column="id" property="id"></id>
    <result column="category_id" property="categoryId" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="name" property="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="main_image" property="mainImage" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="sub_images" property="subImages" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="detail" property="detail" jdbcType="VARCHAR" javaType="java.lang.String" />
    <result column="price"  property="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    <result column="stock" property="stock" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="status" property="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
  </resultMap>

  <sql id="base_column_list">
    id, category_id, name, subtitle, main_image, sub_images, detail,price, stock, status, create_time, update_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mmall_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mmall.pojo.Product" >
    insert into mmall_product (id, category_id, name, 
      subtitle, main_image, sub_images, 
      detail, price, stock, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{subtitle,jdbcType=VARCHAR}, #{mainImage,jdbcType=VARCHAR}, #{subImages,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mmall.pojo.Product" >
    update mmall_product
    set category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      main_image = #{mainImage,jdbcType=VARCHAR},
      sub_images = #{subImages,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.pojo.Product">
    update mmall_product
    <set>
      <if test="name != null and name != ''">
        name = #{name},
      </if>
      <if test="subtitle != null and subtitle != ''">
        subtitle = #{subtitle},
      </if>
      <if test="mainImage != null and mainImage != ''">
        main_image = {mainImage},
      </if>
      <if test="detail != null and detail != ''">
        detail = {detail},
      </if>
      <if test="price != null and price != ''">
        price = #{price},
      </if>
      <if test="stock != null and stock != ''">
        stock = #{stock},
      </if>
      <if test="status != null and status != ''">
        status = #{status},
      </if>
      <if test="updateTime != null and updateTime != ''">
        update_time = now(),
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, category_id, name, subtitle, main_image, sub_images, detail, price, stock, 
    status, create_time, update_time
    from mmall_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, category_id, name, subtitle, main_image, sub_images, detail, price, stock, 
    status, create_time, update_time
    from mmall_product
  </select>

  <select id="selectList" resultType="com.mmall.pojo.Product">
    select
    <include refid="base_column_list"/>
    from mmall_product
    order by id asc
  </select>

  <select id="selectByNameAndProductId" resultType="com.mmall.pojo.Product" parameterType="map">
    select
    <include refid="base_column_list"/>
    from mmall_product
    <where>
      <if test="productName != null and productName != ''">
        and name like #{productName}
      </if>
      <if test="productId != null and productId != ''">
        and id = #{productId}
      </if>
    </where>
  </select>

  <select id="selectByNameAndCategoryIds" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="base_column_list"/>
    from mmall_product
    where status = 1
    <if test="productName != null and productName != ''">
      and name like #{productName}
    </if>
    <if test="categoryList != null">
      and category_id in 
      <foreach collection="categoryList" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>
</mapper>